/*  your css code here. If applicable */
.grid-container{
	display:grid;
	height:500px;
	width:500px;
	grid-template-rows:repeat(3,1fr);
	grid-template-columns:repeat(3,1fr);
	gap:2px;
}
.grid-item{
	background-color:black;
	
	
}